{
  parser: "babel-eslint",
  extends: "airbnb-base",
  env: {
    es6: true,
    mocha: true
  },
  parserOptions: {
    sourceType: "module"
  },
  globals: {
    mochaAsync: true,
    expect: true
  },
  rules: {
    "arrow-body-style": 0
  }
}
