[
  {
    "scope": "https://www.datocms.com:443",
    "method": "GET",
    "path": "/we-are-the-robots",
    "body": "",
    "status": 404,
    "response": "<!DOCTYPE html><html lang=\"en\"><head><meta name=\"viewport\" content=\"width=device-width\"/><meta charSet=\"utf-8\"/><title>404: This page could not be found</title><meta name=\"next-head-count\" content=\"3\"/><link rel=\"preload\" href=\"/_next/static/css/fe69297727dbce39f737.css\" as=\"style\"/><link rel=\"stylesheet\" href=\"/_next/static/css/fe69297727dbce39f737.css\"/><link rel=\"preload\" href=\"/_next/static/chunks/main-c7cc3b74dd8d386454a3.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/webpack-ccf5ab034a524403276a.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/framework.5e03480598ad1120f007.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/commons.0e4877ee37db086980d6.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/pages/_app-79f110be7ba792048ea7.js\" as=\"script\"/></head><body><div id=\"__next\"><div style=\"color:#000;background:#fff;font-family:-apple-system, BlinkMacSystemFont, Roboto, &quot;Segoe UI&quot;, &quot;Fira Sans&quot;, Avenir, &quot;Helvetica Neue&quot;, &quot;Lucida Grande&quot;, sans-serif;height:100vh;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center\"><div><style>body { margin: 0 }</style><h1 style=\"display:inline-block;border-right:1px solid rgba(0, 0, 0,.3);margin:0;margin-right:20px;padding:10px 23px 10px 0;font-size:24px;font-weight:500;vertical-align:top\">404</h1><div style=\"display:inline-block;text-align:left;line-height:49px;height:49px;vertical-align:middle\"><h2 style=\"font-size:14px;font-weight:normal;line-height:inherit;margin:0;padding:0\">This page could not be found<!-- -->.</h2></div></div></div></div><script id=\"__NEXT_DATA__\" type=\"application/json\">{\"props\":{\"pageProps\":{\"statusCode\":404}},\"page\":\"/_error\",\"query\":{},\"buildId\":\"Ijf5PzvhnqjkeFIBTBWoP\",\"runtimeConfig\":{},\"nextExport\":true,\"isFallback\":false,\"gip\":true}</script><script nomodule=\"\" src=\"/_next/static/chunks/polyfills-ac265b76410110a131f7.js\"></script><script src=\"/_next/static/chunks/main-c7cc3b74dd8d386454a3.js\" async=\"\"></script><script src=\"/_next/static/chunks/webpack-ccf5ab034a524403276a.js\" async=\"\"></script><script src=\"/_next/static/chunks/framework.5e03480598ad1120f007.js\" async=\"\"></script><script src=\"/_next/static/chunks/commons.0e4877ee37db086980d6.js\" async=\"\"></script><script src=\"/_next/static/chunks/pages/_app-79f110be7ba792048ea7.js\" async=\"\"></script><script src=\"/_next/static/Ijf5PzvhnqjkeFIBTBWoP/_buildManifest.js\" async=\"\"></script><script src=\"/_next/static/Ijf5PzvhnqjkeFIBTBWoP/_ssgManifest.js\" async=\"\"></script></body></html>",
    "rawHeaders": [
      "Wed, 09 Sep 2020 14:59:04 GMT",
      "Content-Type",
      "text/html; charset=utf-8",
      "close",
      "public, max-age=0, must-revalidate",
      "2582",
      "content-disposition",
      "inline; filename=\"404\"",
      "*",
      "etag",
      "W/\"bbdc88599fd9d24ae0dcabd97b98ee4d31e9466c8268704c4746f664d883a2d2\"",
      "bytes",
      "x-vercel-cache",
      "MISS",
      "0",
      "Vercel",
      "x-vercel-id",
      "cdg1::pg4tl-1599663544219-7c1be21df19d",
      "max-age=63072000"
    ],
    "responseIsBinary": false
  }
]