[
  {
    "scope": "http://site-api.lvh.me:3000",
    "method": "GET",
    "path": "/deploy-events",
    "body": "",
    "status": 200,
    "response": [
      "1f8b0800f2730e580003aa564a492c4954b28a8ead05000000ffff03009464b25e0b000000"
    ],
    "rawHeaders": [
      "SAMEORIGIN",
      "1; mode=block",
      "nosniff",
      "Content-Type",
      "application/json; charset=utf-8",
      "gzip",
      "Etag",
      "W/\"ccd38d2b7005968fde22f927e0d6f2c3\"",
      "max-age=0, private, must-revalidate",
      "3fc22dfd-54b9-4c9e-b362-bd784df47f73",
      "0.012519",
      "WEBrick/1.3.1 (Ruby/2.3.1/2016-04-26)",
      "Mon, 24 Oct 2016 20:49:54 GMT",
      "37",
      "close"
    ]
  }
]