[
  {
    "scope": "http://site-api.lvh.me:3001",
    "method": "GET",
    "path": "/deploy-events",
    "body": "",
    "status": 200,
    "response": [
      "1f8b0800c439fc5a0003aa564a492c4954b28a8ead05000000ffff03009464b25e0b000000"
    ],
    "rawHeaders": [
      "X-Api-Version",
      "2",
      "Content-Type",
      "application/json; charset=utf-8",
      "gzip",
      "Etag",
      "W/\"ebf3ab36db2b5c1cb86ed295513a09be\"",
      "max-age=0, private, must-revalidate",
      "b94ee869-eac1-48f4-8d9d-70050a23df32",
      "0.009404",
      "WEBrick/1.4.2 (Ruby/2.5.0/2017-12-25)",
      "Wed, 16 May 2018 14:01:40 GMT",
      "37",
      "close"
    ]
  }
]