[
  {
    "scope": "http://site-api.lvh.me:3001",
    "method": "GET",
    "path": "/deploy-events",
    "body": "",
    "status": 200,
    "response": [
      "1f8b0800e9fb005a0003",
      "aa564a492c4954b28a8ead05000000ffff",
      "03009464b25e0b000000"
    ],
    "rawHeaders": [
      "SAMEORIGIN",
      "1; mode=block",
      "nosniff",
      "Content-Type",
      "application/json; charset=utf-8",
      "gzip",
      "ETag",
      "W/\"efd41fba3af59968256e30d97289ce11\"",
      "max-age=0, private, must-revalidate",
      "3f817f9d-f2ec-40c0-a656-cad8af3066c0",
      "0.034853",
      "close",
      "chunked"
    ]
  }
]