[
  {
    "scope": "http://site-api.lvh.me:3001",
    "method": "GET",
    "path": "/deploy-events",
    "body": "",
    "status": 200,
    "response": [
      "1f8b0800aa77995a0003",
      "aa564a492c4954b28a8ead05000000ffff",
      "03009464b25e0b000000"
    ],
    "rawHeaders": [
      "SAMEORIGIN",
      "1; mode=block",
      "nosniff",
      "Content-Type",
      "application/json; charset=utf-8",
      "gzip",
      "ETag",
      "W/\"71379ead6461fee6e2d036180689532e\"",
      "max-age=0, private, must-revalidate",
      "47ed07d9-5782-48f6-a1b6-c20d95c85e55",
      "0.012795",
      "close",
      "chunked"
    ]
  }
]