[
  {
    "scope": "http://site-api.lvh.me:3000",
    "method": "GET",
    "path": "/deploy-events",
    "body": "",
    "status": 200,
    "response": [
      "1f8b0800554de3580003aa564a492c4954b28a8ead05000000ffff03009464b25e0b000000"
    ],
    "rawHeaders": [
      "SAMEORIGIN",
      "1; mode=block",
      "nosniff",
      "Content-Type",
      "application/json; charset=utf-8",
      "gzip",
      "Etag",
      "W/\"ed43fb71feef74d39211ac41991bc281\"",
      "max-age=0, private, must-revalidate",
      "78fb990e-08f6-47eb-bed1-153dcf3b352c",
      "0.009678",
      "WEBrick/1.3.1 (Ruby/2.3.1/2016-04-26)",
      "Tue, 04 Apr 2017 07:37:57 GMT",
      "37",
      "close"
    ]
  }
]