[
  {
    "scope": "http://site-api.lvh.me:3001",
    "method": "GET",
    "path": "/deploy-events",
    "body": "",
    "status": 200,
    "response": [
      "1f8b08000fc6055a0003",
      "aa564a492c4954b28a8ead05000000ffff",
      "03009464b25e0b000000"
    ],
    "rawHeaders": [
      "SAMEORIGIN",
      "1; mode=block",
      "nosniff",
      "Content-Type",
      "application/json; charset=utf-8",
      "gzip",
      "ETag",
      "W/\"5ca5a396f14b8555e007a0b86383842b\"",
      "max-age=0, private, must-revalidate",
      "68216faa-eeef-4b78-b309-8cd4c091edf9",
      "0.028480",
      "close",
      "chunked"
    ]
  }
]