[
  {
    "scope": "https://www.datocms.com:443",
    "method": "GET",
    "path": "/we-are-the-robots.png",
    "body": "",
    "status": 404,
    "response": "<!DOCTYPE html><html lang=\"en\"><head><meta name=\"viewport\" content=\"width=device-width\"/><meta charSet=\"utf-8\"/><title>404: This page could not be found</title><meta name=\"next-head-count\" content=\"3\"/><link rel=\"preload\" href=\"/_next/static/css/a3571ffd7f361d3003a0.css\" as=\"style\"/><link rel=\"stylesheet\" href=\"/_next/static/css/a3571ffd7f361d3003a0.css\"/><link rel=\"preload\" href=\"/_next/static/DBCmpJB6CBoa-ePc2k2Ht/pages/_app.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/runtime/webpack-c212667a5f965e81e004.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/framework.619a4f70c1d4d3a29cbc.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/commons.0e309056ebbd5248e4c1.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/runtime/main-132d36a5f40c01402d14.js\" as=\"script\"/></head><body><div id=\"__next\"><div style=\"color:#000;background:#fff;font-family:-apple-system, BlinkMacSystemFont, Roboto, &quot;Segoe UI&quot;, &quot;Fira Sans&quot;, Avenir, &quot;Helvetica Neue&quot;, &quot;Lucida Grande&quot;, sans-serif;height:100vh;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center\"><div><style>body { margin: 0 }</style><h1 style=\"display:inline-block;border-right:1px solid rgba(0, 0, 0,.3);margin:0;margin-right:20px;padding:10px 23px 10px 0;font-size:24px;font-weight:500;vertical-align:top\">404</h1><div style=\"display:inline-block;text-align:left;line-height:49px;height:49px;vertical-align:middle\"><h2 style=\"font-size:14px;font-weight:normal;line-height:inherit;margin:0;padding:0\">This page could not be found<!-- -->.</h2></div></div></div></div><script id=\"__NEXT_DATA__\" type=\"application/json\">{\"props\":{\"pageProps\":{\"statusCode\":404}},\"page\":\"/_error\",\"query\":{},\"buildId\":\"DBCmpJB6CBoa-ePc2k2Ht\",\"runtimeConfig\":{},\"nextExport\":true,\"isFallback\":false,\"gip\":true}</script><script nomodule=\"\" src=\"/_next/static/runtime/polyfills-c6e5b9d136c62185db0a.js\"></script><script async=\"\" data-next-page=\"/_app\" src=\"/_next/static/DBCmpJB6CBoa-ePc2k2Ht/pages/_app.js\"></script><script src=\"/_next/static/runtime/webpack-c212667a5f965e81e004.js\" async=\"\"></script><script src=\"/_next/static/chunks/framework.619a4f70c1d4d3a29cbc.js\" async=\"\"></script><script src=\"/_next/static/chunks/commons.0e309056ebbd5248e4c1.js\" async=\"\"></script><script src=\"/_next/static/runtime/main-132d36a5f40c01402d14.js\" async=\"\"></script><script src=\"/_next/static/DBCmpJB6CBoa-ePc2k2Ht/_buildManifest.js\" async=\"\"></script><script src=\"/_next/static/DBCmpJB6CBoa-ePc2k2Ht/_ssgManifest.js\" async=\"\"></script></body></html>",
    "rawHeaders": [
      "Wed, 13 May 2020 14:22:54 GMT",
      "Content-Type",
      "text/html; charset=utf-8",
      "close",
      "x-vercel-cache",
      "MISS",
      "x-now-cache",
      "MISS",
      "public, max-age=0, must-revalidate",
      "2598",
      "content-disposition",
      "inline; filename=\"404\"",
      "*",
      "bytes",
      "etag",
      "W/\"d8dd59d8323abdffca1dc77dc4b68ef85780cb0673624d06b78a0c76d20e0bbd\"",
      "0",
      "x-now-trace",
      "zrh1",
      "now",
      "x-vercel-id",
      "zrh1::rs6xk-1589379773259-5e1f12f43cd4",
      "x-now-id",
      "zrh1::rs6xk-1589379773259-5e1f12f43cd4",
      "max-age=63072000"
    ],
    "responseIsBinary": false
  }
]