[
  {
    "scope": "https://www.datocms.com:443",
    "method": "GET",
    "path": "/we-are-the-robots.png",
    "body": "",
    "status": 404,
    "response": "<!DOCTYPE html><html><head><meta charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width\"/><meta name=\"next-head-count\" content=\"2\"/><link rel=\"preload\" href=\"/_next/static/css/45d69cf725d653a5d39a.css\" as=\"style\"/><link rel=\"stylesheet\" href=\"/_next/static/css/45d69cf725d653a5d39a.css\"/><link rel=\"preload\" href=\"/_next/static/1yrDg88ODVRD5Ebw2SAqr/pages/_app.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/runtime/webpack-b65cab0b00afd201cbda.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/framework.2689030919a9ba0449ff.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/commons.8e13fc4076376e0c53f6.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/runtime/main-94ea23d869ea86272b25.js\" as=\"script\"/></head><body><div id=\"__next\"><div style=\"color:#000;background:#fff;font-family:-apple-system, BlinkMacSystemFont, Roboto, &quot;Segoe UI&quot;, &quot;Fira Sans&quot;, Avenir, &quot;Helvetica Neue&quot;, &quot;Lucida Grande&quot;, sans-serif;height:100vh;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center\"><div><style>body { margin: 0 }</style><h1 style=\"display:inline-block;border-right:1px solid rgba(0, 0, 0,.3);margin:0;margin-right:20px;padding:10px 23px 10px 0;font-size:24px;font-weight:500;vertical-align:top\">404</h1><div style=\"display:inline-block;text-align:left;line-height:49px;height:49px;vertical-align:middle\"><h2 style=\"font-size:14px;font-weight:normal;line-height:inherit;margin:0;padding:0\">This page could not be found<!-- -->.</h2></div></div></div></div><script id=\"__NEXT_DATA__\" type=\"application/json\">{\"props\":{\"pageProps\":{\"statusCode\":404}},\"page\":\"/_error\",\"query\":{},\"buildId\":\"1yrDg88ODVRD5Ebw2SAqr\",\"runtimeConfig\":{},\"nextExport\":true,\"isFallback\":false}</script><script nomodule=\"\" src=\"/_next/static/runtime/polyfills-ea07f450d5b33735cebb.js\"></script><script async=\"\" data-next-page=\"/_app\" src=\"/_next/static/1yrDg88ODVRD5Ebw2SAqr/pages/_app.js\"></script><script src=\"/_next/static/runtime/webpack-b65cab0b00afd201cbda.js\" async=\"\"></script><script src=\"/_next/static/chunks/framework.2689030919a9ba0449ff.js\" async=\"\"></script><script src=\"/_next/static/chunks/commons.8e13fc4076376e0c53f6.js\" async=\"\"></script><script src=\"/_next/static/runtime/main-94ea23d869ea86272b25.js\" async=\"\"></script><script src=\"/_next/static/1yrDg88ODVRD5Ebw2SAqr/_buildManifest.js\" async=\"\"></script><script src=\"/_next/static/1yrDg88ODVRD5Ebw2SAqr/_ssgManifest.js\" async=\"\"></script></body></html>",
    "rawHeaders": [
      "Fri, 10 Apr 2020 12:10:35 GMT",
      "Content-Type",
      "text/html; charset=utf-8",
      "close",
      "x-now-cache",
      "MISS",
      "public, max-age=0, must-revalidate",
      "2529",
      "content-disposition",
      "inline; filename=\"404\"",
      "*",
      "bytes",
      "etag",
      "W/\"080be34c0172607e704caac74664155513ac349bfc1cd40da6290d2db0b0cb5c\"",
      "0",
      "x-now-trace",
      "zrh1",
      "now",
      "x-now-id",
      "zrh1:7fqnp-1586520635100-0339c0d32a84",
      "max-age=63072000"
    ],
    "responseIsBinary": false
  }
]