[
  {
    "scope": "https://www.datocms.com:443",
    "method": "GET",
    "path": "/we-are-the-robots.png",
    "body": "",
    "status": 404,
    "response": "<!DOCTYPE html><html lang=\"en\"><head><meta name=\"viewport\" content=\"width=device-width\"/><meta charSet=\"utf-8\"/><title>404: This page could not be found</title><link rel=\"preload\" href=\"/_next/static/css/4a51aee6c64656cf928f.css\" as=\"style\"/><link rel=\"stylesheet\" href=\"/_next/static/css/4a51aee6c64656cf928f.css\" data-n-g=\"\"/><noscript data-n-css=\"true\"></noscript><link rel=\"preload\" href=\"/_next/static/chunks/main-278ba94b0bf7589a7942.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/webpack-e067438c4cf4ef2ef178.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/framework.1d36bc031662b4dc4c28.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/commons.0b5d86bd0003c96026d9.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/pages/_app-21493f94bd5ab1646494.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/pages/_error-59ac9515e9fe1116703c.js\" as=\"script\"/></head><body><div id=\"__next\"><div style=\"color:#000;background:#fff;font-family:-apple-system, BlinkMacSystemFont, Roboto, &quot;Segoe UI&quot;, &quot;Fira Sans&quot;, Avenir, &quot;Helvetica Neue&quot;, &quot;Lucida Grande&quot;, sans-serif;height:100vh;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center\"><div><style>body { margin: 0 }</style><h1 style=\"display:inline-block;border-right:1px solid rgba(0, 0, 0,.3);margin:0;margin-right:20px;padding:10px 23px 10px 0;font-size:24px;font-weight:500;vertical-align:top\">404</h1><div style=\"display:inline-block;text-align:left;line-height:49px;height:49px;vertical-align:middle\"><h2 style=\"font-size:14px;font-weight:normal;line-height:inherit;margin:0;padding:0\">This page could not be found<!-- -->.</h2></div></div></div></div><script id=\"__NEXT_DATA__\" type=\"application/json\">{\"props\":{\"pageProps\":{\"statusCode\":404}},\"page\":\"/_error\",\"query\":{},\"buildId\":\"zbpBWPn-jPAmk67DkwmvS\",\"runtimeConfig\":{},\"nextExport\":true,\"isFallback\":false,\"gip\":true,\"head\":[[\"meta\",{\"name\":\"viewport\",\"content\":\"width=device-width\"}],[\"meta\",{\"charSet\":\"utf-8\"}],[\"title\",{\"children\":\"404: This page could not be found\"}]]}</script><script nomodule=\"\" src=\"/_next/static/chunks/polyfills-7ec82c1724586b5d8cb5.js\"></script><script src=\"/_next/static/chunks/main-278ba94b0bf7589a7942.js\" async=\"\"></script><script src=\"/_next/static/chunks/webpack-e067438c4cf4ef2ef178.js\" async=\"\"></script><script src=\"/_next/static/chunks/framework.1d36bc031662b4dc4c28.js\" async=\"\"></script><script src=\"/_next/static/chunks/commons.0b5d86bd0003c96026d9.js\" async=\"\"></script><script src=\"/_next/static/chunks/pages/_app-21493f94bd5ab1646494.js\" async=\"\"></script><script src=\"/_next/static/chunks/pages/_error-59ac9515e9fe1116703c.js\" async=\"\"></script><script src=\"/_next/static/zbpBWPn-jPAmk67DkwmvS/_buildManifest.js\" async=\"\"></script><script src=\"/_next/static/zbpBWPn-jPAmk67DkwmvS/_ssgManifest.js\" async=\"\"></script></body></html>",
    "rawHeaders": [
      "Thu, 05 Nov 2020 08:53:06 GMT",
      "Content-Type",
      "text/html; charset=utf-8",
      "close",
      "content-disposition",
      "inline; filename=\"404\"",
      "public, max-age=0, must-revalidate",
      "2936",
      "*",
      "etag",
      "W/\"5c18ea34b0cbbf69aff40b160e25a10ffec692e187ba2b7dcfb3254bf815c379\"",
      "bytes",
      "x-vercel-cache",
      "MISS",
      "0",
      "Vercel",
      "x-vercel-id",
      "cdg1::k5rx2-1604566386278-9001f528a58d",
      "max-age=63072000"
    ],
    "responseIsBinary": false
  }
]
