[
  {
    "scope": "https://www.datocms.com:443",
    "method": "GET",
    "path": "/we-are-the-robots.png",
    "body": "",
    "status": 404,
    "response": "<!DOCTYPE html><html lang=\"en\"><head><meta name=\"viewport\" content=\"width=device-width\"/><meta charSet=\"utf-8\"/><title>404: This page could not be found</title><meta name=\"next-head-count\" content=\"3\"/><link rel=\"preload\" href=\"/_next/static/css/bdf755131f0be534bd56.css\" as=\"style\"/><link rel=\"stylesheet\" href=\"/_next/static/css/bdf755131f0be534bd56.css\"/><link rel=\"preload\" href=\"/_next/static/7jsdWmhckRjZPHypXVKl8/pages/_app.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/runtime/webpack-b65cab0b00afd201cbda.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/framework.2689030919a9ba0449ff.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/chunks/commons.74042c0ce34d2c6bf1dc.js\" as=\"script\"/><link rel=\"preload\" href=\"/_next/static/runtime/main-93166694e11d0d06c1d8.js\" as=\"script\"/></head><body><div id=\"__next\"><div style=\"color:#000;background:#fff;font-family:-apple-system, BlinkMacSystemFont, Roboto, &quot;Segoe UI&quot;, &quot;Fira Sans&quot;, Avenir, &quot;Helvetica Neue&quot;, &quot;Lucida Grande&quot;, sans-serif;height:100vh;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center\"><div><style>body { margin: 0 }</style><h1 style=\"display:inline-block;border-right:1px solid rgba(0, 0, 0,.3);margin:0;margin-right:20px;padding:10px 23px 10px 0;font-size:24px;font-weight:500;vertical-align:top\">404</h1><div style=\"display:inline-block;text-align:left;line-height:49px;height:49px;vertical-align:middle\"><h2 style=\"font-size:14px;font-weight:normal;line-height:inherit;margin:0;padding:0\">This page could not be found<!-- -->.</h2></div></div></div></div><script id=\"__NEXT_DATA__\" type=\"application/json\">{\"props\":{\"pageProps\":{\"statusCode\":404}},\"page\":\"/_error\",\"query\":{},\"buildId\":\"7jsdWmhckRjZPHypXVKl8\",\"runtimeConfig\":{},\"nextExport\":true,\"isFallback\":false,\"gip\":true}</script><script nomodule=\"\" src=\"/_next/static/runtime/polyfills-70dbcd450fad4fa259b2.js\"></script><script async=\"\" data-next-page=\"/_app\" src=\"/_next/static/7jsdWmhckRjZPHypXVKl8/pages/_app.js\"></script><script src=\"/_next/static/runtime/webpack-b65cab0b00afd201cbda.js\" async=\"\"></script><script src=\"/_next/static/chunks/framework.2689030919a9ba0449ff.js\" async=\"\"></script><script src=\"/_next/static/chunks/commons.74042c0ce34d2c6bf1dc.js\" async=\"\"></script><script src=\"/_next/static/runtime/main-93166694e11d0d06c1d8.js\" async=\"\"></script><script src=\"/_next/static/7jsdWmhckRjZPHypXVKl8/_buildManifest.js\" async=\"\"></script><script src=\"/_next/static/7jsdWmhckRjZPHypXVKl8/_ssgManifest.js\" async=\"\"></script></body></html>",
    "rawHeaders": [
      "Fri, 24 Apr 2020 15:21:20 GMT",
      "Content-Type",
      "text/html; charset=utf-8",
      "close",
      "x-vercel-cache",
      "MISS",
      "x-now-cache",
      "MISS",
      "public, max-age=0, must-revalidate",
      "2598",
      "content-disposition",
      "inline; filename=\"404\"",
      "*",
      "bytes",
      "etag",
      "W/\"c1cc5f793ce9b06e6b35a20edc9089d8ee802fa62255213b04961166f768c6be\"",
      "0",
      "x-now-trace",
      "zrh1",
      "now",
      "x-vercel-id",
      "zrh1::2mzzh-1587741679930-75af373b935a",
      "x-now-id",
      "zrh1::2mzzh-1587741679930-75af373b935a",
      "max-age=63072000"
    ],
    "responseIsBinary": false
  }
]